@import "../../../../assets/css/colors.scss";

ion-toolbar {
  --background: #004075;
}
img {
  height: 1.2rem;
}

ion-button {
  padding-right: 1rem;
  ion-icon,
  span {
    color: white !important;
  }
}
