<ion-content>
  <div *ngIf="vm$ | async as vm">
    <ion-card>
      <ion-card-header>
        <ion-card-title> Tudo pronto {{ vm.name }} </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Temos aqui os detalhes do seu empréstimo de
          <span class="bold">{{ vm.result?.valor | currency }}</span> a ser pago
          em
          <span class="bold">{{
            vm.result?.qtdParcelas | number : "1.0-0"
          }}</span>
          parcelas com amortização do tipo
          <span class="bold">{{ vm.type }}</span> para o produto
          <span class="bold">{{ vm.result?.descricaoProduto }}</span>
        </p>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>
              <ion-row>
                <ion-col class="ion-text-center" size="4"> Parcela nº </ion-col>
                <ion-col class="ion-text-right" size="7">Valor</ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
            </ion-label>
          </ion-item-divider>
          <div class="scroller">
            <ion-item
              *ngFor="let installment of vm.installments"
              button
              detail
              (click)="showDetail(installment)"
            >
              <ion-label>
                <ion-row>
                  <ion-col class="ion-text-center" size="4">{{
                    installment.numero | number : "1.0-0"
                  }}</ion-col>
                  <ion-col class="ion-text-right" size="8">{{
                    installment.valorPrestacao | currency
                  }}</ion-col>
                </ion-row>
              </ion-label>
            </ion-item>
          </div>
        </ion-item-group>
        <p>Clique na parcela para ver mais detalhes do valor.</p>
        <p>
          Gostou do resultado ? Clique
          <a href="" (click)="goToContactForm($event)">aqui</a> para que uma de
          nossas agências entre em contato.
        </p></ion-card-content
      >
    </ion-card>
  </div>
</ion-content>
