@import "../../../../assets/css/colors.scss";

ion-row {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

ion-item {
  --background: rgba(255, 255, 255, 0.8);
}
#container {
  justify-content: flex-start;
}
.scroller {
  height: calc(100vh - 450px);
  overflow-y: auto;
}
.bold {
  font-weight: bold;
}
