$azul_cx-standard: #005ca9;
$azul_cx-darker-1: #004075;
$azul_cx-darker-2: #002442;
$azul_cx-lighter-1: #0077db;
$azul_cx-lighter-2: #0f92ff;
$azul_cx-lighter-3: #c6e5ff;
$azul_cx-lighter-4: #e2f2ff;
$azul_cx-lighter-5: #f1f9ff;
$laranja_cx-standard: #f59200;
$laranja_cx-darker-1: #c27300;
$laranja_cx-darker-2: #8f5500;
$laranja_cx-lighter-1: #ffa829;
$laranja_cx-lighter-2: #ffbd5c;
$laranja_cx-lighter-3: #ffedd2;
$laranja_cx-lighter-4: #fff4e5;
$laranja_cx-lighter-5: #fffaf2;
$turquesa-standard: #54bbab;
$turquesa-darker-1: #3e9d8e;
$turquesa-darker-2: #30786d;
$turquesa-lighter-1: #78c9bd;
$turquesa-lighter-2: #9cd8cf;
$grafite-standard: #3a4859;
$grafite-darker-1: #262f3b;
$grafite-darker-2: #12161c;
$grafite-lighter-1: #4e6178;
$grafite-lighter-2: #637a97;
$border-shadow-1: #f1f9ff7a;
$cinza-standard: #d0e0e3;
$cinza-darker-1: #afcacf;
$cinza-darker-2: #8fb5bc;
$cinza-lighter-1: #eff4f5;
$cinza-lighter-2: #ffffff;
$info-standard: #143da6;
$info-darker-1: #0e2b76;
$info-darker-2: #091b49;
$info-lighter-1: #194dd1;
$info-lighter-2: #3768e7;
$success-standard: #008254;
$success-darker-1: #004d31;
$success-darker-2: #001a10;
$success-lighter-1: #00b273;
$success-lighter-2: #00e594;
$success-lighter-3: #c2f9e6;
$success-lighter-4: #e0fbf2;
$success-lighter-5: #ebfdf7;
$warning-standard: #ffd000;
$warning-darker-1: #cca600;
$warning-darker-2: #876e01;
$warning-lighter-1: #ffd933;
$warning-lighter-2: #ffe366;
$warning-lighter-3: #fff6ce;
$warning-lighter-4: #fffae6;
$warning-lighter-5: #fffdf3;
$danger-standard: #900000;
$danger-darker-1: #5c0000;
$danger-darker-2: #290000;
$danger-lighter-1: #c20000;
$danger-lighter-2: #f50000;
$danger-lighter-3: #fdd6d6;
$danger-lighter-4: #ffebeb;
$danger-lighter-4: #fff5f5;
$ceu-standard: #00b4e6;
$ceu-darker-1: #008cb2;
$ceu-darker-2: #006480;
$ceu-lighter-1: #1acdff;
$ceu-lighter-2: #4dd8ff;
$uva-standard: #b2709b;
$uva-darker-1: #9c5483;
$uva-darker-2: #7b4267;
$uva-lighter-1: #c492b3;
$uva-lighter-2: #d6b3ca;
$limao-standard: #b2cb0b;
$limao-darker-1: #889b08;
$limao-darker-2: #5d6a06;
$limao-lighter-1: #d6f217;
$limao-lighter-2: #def547;
$tangerina-standard: #faaf00;
$tangerina-darker-1: #c78b00;
$tangerina-darker-2: #946800;
$tangerina-lighter-1: #ffc02e;
$tangerina-lighter-2: #ffd061;
$porcelana: #f9fbfb;
$polar: #f6f9f9;
