<ion-content *ngIf="vm$ | async as vm">
  <app-simulation-loading [loading]="vm.loading"></app-simulation-loading>
  <div *ngIf="!vm.loading">
    <ion-card>
      <ion-card-header>
        <ion-card-title *ngIf="vm.name"> Ok {{ vm.name }}, </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Você quer um empréstimo no valor de
          {{ vm.result?.valor | currency }} e deseja pagar em
          {{ vm.result?.qtdParcelas | number : "1.0-0" }} parcelas
        </p>
        <p>Temos um produto que atende às suas necessidades:</p>
        <ion-item>
          <ion-label class="produto">
            <ion-row>
              <ion-col class="ion-text-uppercase">
                {{ vm.result?.descricaoProduto }}
              </ion-col>
              <ion-col>
                {{ vm.result?.taxaJuros | percent : "1.2-2" }} a.m.
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
        <p>Para ver os detalhes, selecione um tipo de amortização</p>
        <ion-item
          *ngFor="let type of vm.types"
          button
          [detail]="true"
          (click)="redirect(type.title)"
        >
          <ion-label>
            <ion-row class="title">{{ type.title }} </ion-row>
            <ion-row class="subtitle">
              {{ type.subtitle }}
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
  <ion-button (click)="goBack()" expand="full">
    Alterar Valores
    <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
  </ion-button>
</ion-footer>
